doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    script(src='//cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
    script(src='/javascripts/app.js')
  body
    block content
